{% extends 'base.html.twig' %}

{% block title %}PhoneNumbers index{% endblock %}

{% block body %}
    <h1>PhoneNumbers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prim</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phone_number in phone_numbers %}
            <tr>
                <td>{{ phone_number.id }}</td>
                <td>{{ phone_number.prim ? 'Yes' : 'No' }}</td>
                <td>{{ phone_number.Value }}</td>
                <td>
                    <a href="{{ path('phone_numbers_show', {'id': phone_number.id}) }}">show</a>
                    <a href="{{ path('phone_numbers_edit', {'id': phone_number.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('phone_numbers_new') }}">Create new</a>
{% endblock %}
