{% extends 'base.html.twig' %}

{% block title %}Adres index{% endblock %}

{% block body %}
    <h1>Adres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prim</th>
                <th>Street</th>
                <th>Number</th>
                <th>Local</th>
                <th>PostalCode</th>
                <th>Town</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adre in adres %}
            <tr>
                <td>{{ adre.id }}</td>
                <td>{{ adre.prim ? 'Yes' : 'No' }}</td>
                <td>{{ adre.Street }}</td>
                <td>{{ adre.Number }}</td>
                <td>{{ adre.Local }}</td>
                <td>{{ adre.PostalCode }}</td>
                <td>{{ adre.Town }}</td>
                <td>
                    <a href="{{ path('adres_show', {'id': adre.id}) }}">show</a>
                    <a href="{{ path('adres_edit', {'id': adre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adres_new') }}">Create new</a>
{% endblock %}
