{% extends 'base.html.twig' %}

{% block title %}Adres{% endblock %}

{% block body %}
    <h1>Adres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adre.id }}</td>
            </tr>
            <tr>
                <th>Family Name</th>
                <td>{{ adre.FamilyName }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ adre.FirstName }}</td>
            </tr>
            <tr>
                <th>Prim</th>
                <td>{{ adre.prim ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ adre.Street }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ adre.Number }}</td>
            </tr>
            <tr>
                <th>Local</th>
                <td>{{ adre.Local }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ adre.PostalCode }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ adre.Town }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adres_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('adres_edit', {'id': adre.id}) }}" class="btn btn-primary">edit</a>

    {{ include('adres/_delete_form.html.twig') }}
{% endblock %}
