{% extends 'base.html.twig' %}

{% block title %}Emails index{% endblock %}

{% block body %}
    <h1>Emails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Family Name</th>
                <th>First Name</th>
                <th>Prim</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td>{{ email.id }}</td>
                <td>{{ email.FamilyName }}</td>
                <td>{{ email.FirstName }}</td>
                <td>{{ email.prim ? 'Yes' : 'No' }}</td>
                <td>{{ email.Value }}</td>
                <td>
                    <a href="{{ path('emails_show', {'id': email.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('emails_edit', {'id': email.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emails_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
