{% extends 'base.html.twig' %}

{% block title %}PersonalData index{% endblock %}

{% block body %}
    <h1>PersonalData index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FamilyName</th>
                <th>FirstName</th>
                <th>BirthDate</th>
                <th>BirthPlace</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personal_datum in personal_datas %}
            <tr>
                <td>{{ personal_datum.id }}</td>
                <td>{{ personal_datum.FamilyName }}</td>
                <td>{{ personal_datum.FirstName }}</td>
                <td>{{ personal_datum.BirthDate ? personal_datum.BirthDate|date('Y-m-d') : '' }}</td>
                <td>{{ personal_datum.BirthPlace }}</td>
                <td>{{ personal_datum.Photo }}</td>
                <td>
                    <a href="{{ path('personal_data_show', {'id': personal_datum.id}) }}">show</a>
                    <a href="{{ path('personal_data_edit', {'id': personal_datum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('personal_data_new') }}">Create new</a>
    {% endif %}

{% endblock %}
