{% extends 'base.html.twig' %}

{% block title %}PersonalData{% endblock %}

{% block body %}
    <h1>PersonalData</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personal_datum.id }}</td>
            </tr>
            <tr>
                <th>FamilyName</th>
                <td>{{ personal_datum.FamilyName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ personal_datum.FirstName }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ personal_datum.BirthDate ? personal_datum.BirthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>BirthPlace</th>
                <td>{{ personal_datum.BirthPlace }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ personal_datum.Photo }}</td>
            </tr>
            <tr>
                <th>Emails</th>
                <td>
                    {% for email in personal_datum.emails %}
                        {% if email.prim %} <b> {% endif %}
                        {{ email.Value }} <br>
                        {% if email.prim %} </b> {% endif %}
                    {% else %}
                        No emails found
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Phone Numbers</th>
                <td>
                    {% for phone in personal_datum.phoneNumbers %}
                        {% if phone.prim %} <b> {% endif %}
                        {{ phone.Value }} <br>
                        {% if phone.prim %} </b> {% endif %}
                    {% else %}
                        No phone numbers found
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Addresses</th>
                <td>
                    {% for adres in personal_datum.adres %}
                        {% if adres.prim %} <b> {% endif %}
                        {{ adres.Street }} {{ adres.Number }} / {{ adres.Local }} <br>
                        {{ adres.PostalCode }} {{ adres.Town }} <br>
                        {% if adres.prim %} </b> {% endif %}
                    {% else %}
                        No address found
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personal_data_index') }}">back to list</a>

    <a href="{{ path('personal_data_edit', {'id': personal_datum.id}) }}">edit</a>

    {{ include('personal_data/_delete_form.html.twig') }}
{% endblock %}
