{% extends 'base.html.twig' %}

{% block title %}Membership index{% endblock %}

{% block body %}
    <h1>Membership index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Employee</th>
                <th>Unit</th>
                <th>Working Hours Per Week</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membership in memberships %}
            <tr>
                <td>{{ membership.id }}</td>
                <td>{{ membership.Person.FamilyName }} {{ membership.Person.FirstName }}</td>
                <td>{{ membership.Unit.Name }}</td>
                <td>{{ membership.WorkingHoursPerWeek }}</td>
                <td>
                    <a href="{{ path('membership_show', {'id': membership.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('membership_edit', {'id': membership.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('membership_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
