{% extends 'base.html.twig' %}

{% block title %}Units index{% endblock %}

{% block body %}
    <h1>Units index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Parent Unit</th>
                <th>Superior</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit in units %}
            <tr>
                <td>{{ unit.id }}</td>
                <td>{{ unit.name }}</td>
                <td>{{ unit.type }}</td>
                <td>{{ unit.parentName }}</td>
                <td>{{ unit.Boss.FamilyName }} {{ unit.Boss.FirstName }}</td>
                <td>
                    <a href="{{ path('units_show', {'id': unit.id}) }}">show</a>
                    <a href="{{ path('units_edit', {'id': unit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('units_new') }}">Create new</a>
{% endblock %}
