{% extends 'base.html.twig' %}

{% block title %}Units{% endblock %}

{% block body %}
    <h1>Units</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ unit.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ unit.type }}</td>
            </tr>
            <tr>
                <th>Parent Unit</th>
                <td>{{ unit.parentName }}</td>
            </tr>
            <tr>
                <th>Superior</th>
                <td>{{ unit.Boss.FamilyName }} {{ unit.Boss.FirstName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('units_index') }}">back to list</a>

    <a href="{{ path('units_edit', {'id': unit.id}) }}">edit</a>

    {{ include('units/_delete_form.html.twig') }}
{% endblock %}
